<%- include('header') -%>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Rename person</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="text-align: center">
                    <form>
                        <div class="form-group">
                            <label for="name">New name for Daniel</label>
                            <input type="text" class="form-control" id="name" name="event name">
                        </div>
                        <a class="btn btn-primary" href="/profile.html">Rename</a>
                        <a class="btn btn-link" href="/profile.html">Cancel</a>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include('footer') -%>
